[Unit]
Description=Daily Goal App

[Service]
User=daily-app
Group=daily-app
ExecStart=/usr/bin/java -jar /usr/local/daily-goal-app/daily-goal-app.jar
Restart=always
Type=simple

[Install]
RequiredBy = multi-user.target